// custom checkbox styles

.policy-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.policy-checkbox {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    transition: all 250ms ease-in;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 22px;
        height: 22px;
    }
}

.policy-checkbox-empty {
    visibility: visible;
    opacity: 1;

    transition: opacity 250ms ease-in,
        visibility 250ms ease-in;

    .policy-check:checked~.policy-agreement>& {
        opacity: 0;
        visibility: hidden;
    }
}

.policy-checkbox-filled {
    opacity: 0;
    visibility: hidden;

    transition: opacity 250ms ease-in,
        visibility 250ms ease-in;

    .policy-check:checked~.policy-agreement>& {
        visibility: visible;
        opacity: 1;
    }
}