@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.section {
  @apply mx-auto max-w-screen-lg-mob text-white
  tab:max-w-screen-tab tab:w-[768px]
  desk:max-w-screen-desk desk:w-[1280px] 
}

.title {
  @apply uppercase text-[40px] font-thin leading-[56px] tracking-[-1.6px]
  tab:text-[67px] tab:leading-[67px] tab:tracking-[-2.68px]
  desk:text-[98px] desk:tracking-[-3.92px] desk:leading-[98px]
}

.input {
  @apply px-2 py-[2px] w-full block bg-white bg-opacity-5 text-white text-[13px] font-extralight leading-6 outline-none 
  focus:outline-none focus:bg-opacity-10 hover:bg-opacity-10
  placeholder:text-white placeholder:opacity-[0.2]
  tab:w-[222px] desk:w-[290px] desk:text-[20px] desk:leading-6
   transition-all ease-in duration-200
}

.label {
  @apply mb-1 text-xs font-extralight leading-[24px] tracking-[2.4px]
}

.validation-error {
  @apply absolute bottom-[-24px] right-0 text-error-red text-xs font-extralight leading-6 tracking-[2.4px]
    before:w-[18px] before:h-[18px] before:absolute before:left-[-22px] before:top-1/2 before:translate-y-[-50%] before:bg-invalid
}

.invalid-input {
  @apply text-error-red text-opacity-100 z-20
}

.active-service {
  @apply ml-[18px] relative font-medium
  before:w-[9px] before:h-[9px] before:absolute before:left-[-18px] before:top-1/2 before:translate-y-[-50%] 
  before:bg-service-select cursor-pointer transition-all ease-in duration-200 
}

.nav-link {
  @apply border-b-[1px] border-transparent 
  hover:border-white/75 focus:border-white/75 
  transition-all duration-200 ease-in
}