@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.section {
  @apply mx-auto max-w-screen-lg-mob text-white
  tab:max-w-screen-tab tab:w-[768px]
  desk:max-w-screen-desk desk:w-[1280px] 
}

.title {
  @apply uppercase text-[40px] font-thin leading-[56px] tracking-[-1.6px]
  tab:text-[67px] tab:leading-[67px] tab:tracking-[-2.68px]
  desk:text-[98px] desk:tracking-[-3.92px] desk:leading-[98px]
}

.input {
  @apply px-2 py-[2px] w-full block bg-white bg-opacity-5 text-white text-[13px] font-extralight leading-6 
  focus:outline-none focus:bg-opacity-10
  placeholder:text-white placeholder:opacity-[0.2]
  tab:w-[222px] desk:w-[290px] desk:text-[20px] desk:leading-6
}

.label {
  @apply mb-1 text-xs font-extralight leading-[24px] tracking-[2.4px]
}
