.hero {
    background-image: image-set(url("/images/bg-hero-mob.webp") 1x,url("/images/bg-hero-mob@2x.webp") 2x);

    @media screen and (min-width: 768px) {
        background-image: image-set(url("/images/bg-hero-tab.webp") 1x,url("/images/bg-hero-tab@2x.webp") 2x);
    }

    @media screen and (min-width: 1280px) {
        background-image: image-set(url("/images/bg-hero-desk.webp") 1x,url("/images/bg-hero-desk@2x.webp") 2x);
    }
}
