// service section gradient styles

.services {
    &::before {
        content: '';

        width: 100%;
        height: 291px;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        opacity: 0.75;

        background: var(--section-top-gradient);

        @media screen and (min-width: 768px) {
            height: 247px;
        }

        @media screen and (min-width: 1280px) {
            height: 241px;

            opacity: 0.25;
        }
    }

    &::after {
        content: '';

        width: 100%;
        height: 291px;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        opacity: 0.75;

        background: var(--section-bottom-gradient);

        @media screen and (min-width: 768px) {
            height: 247px;
        }

        @media screen and (min-width: 1280px) {
            height: 241px;

            opacity: 0.25;
        }
    }
}
            
// swiper base styles

.swiper-wrapper .swiper-slide {
    width: 100%;
    height: 595px;

    @media screen and (min-width: 768px) {
        height: 100%;
    }
}

.swiper-wrapper .background-slide {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// service bg styles  

.service-1 {
    background-image: image-set(url("/images/bg-services-1-mob.webp") 1x,url("/images/bg-services-1-mob@2x.webp") 2x);
    
    @media screen and (min-width: 768px) {
        background-image: image-set(url("/images/bg-services-1-tab.webp") 1x,url("/images/bg-services-1-tab@2x.webp") 2x);
    }

    @media screen and (min-width: 1280px) {
        background-image: image-set(url("/images/bg-services-1-desk.webp") 1x,url("/images/bg-services-1-desk@2x.webp") 2x);
    }
}

.service-2 {
    background-image: image-set(url("/images/bg-services-2-mob.webp") 1x,url("/images/bg-services-2-mob@2x.webp") 2x);
    
    @media screen and (min-width: 768px) {
        background-image: image-set(url("/images/bg-services-2-tab.webp") 1x,url("/images/bg-services-2-tab@2x.webp") 2x);
    }

    @media screen and (min-width: 1280px) {
        background-image: image-set(url("/images/bg-services-2-desk.webp") 1x,url("/images/bg-services-2-desk@2x.webp") 2x);
    }
}

.service-3 {
    background-image: image-set(url("/images/bg-services-3-mob.webp") 1x,url("/images/bg-services-3-mob@2x.webp") 2x);
    
    @media screen and (min-width: 768px) {
        background-image: image-set(url("/images/bg-services-3-tab.webp") 1x,url("/images/bg-services-3-tab@2x.webp") 2x);
    }

    @media screen and (min-width: 1280px) {
        background-image: image-set(url("/images/bg-services-3-desk.webp") 1x,url("/images/bg-services-3-desk@2x.webp") 2x);
    }
}

.service-4 {
    background-image: image-set(url("/images/bg-services-4-mob.webp") 1x,url("/images/bg-services-4-mob@2x.webp") 2x);
    
    @media screen and (min-width: 768px) {
        background-image: image-set(url("/images/bg-services-4-tab.webp") 1x,url("/images/bg-services-4-tab@2x.webp") 2x);
    }

    @media screen and (min-width: 1280px) {
        background-image: image-set(url("/images/bg-services-4-desk.webp") 1x,url("/images/bg-services-4-desk@2x.webp") 2x);
    }
}

.service-5 {
    background-image: image-set(url("/images/bg-services-5-mob.webp") 1x,url("/images/bg-services-5-mob@2x.webp") 2x);
    
    @media screen and (min-width: 768px) {
        background-image: image-set(url("/images/bg-services-5-tab.webp") 1x,url("/images/bg-services-5-tab@2x.webp") 2x);
    }

    @media screen and (min-width: 1280px) {
        background-image: image-set(url("/images/bg-services-5-desk.webp") 1x,url("/images/bg-services-5-desk@2x.webp") 2x);
    }
}