// swiper base styles

.swiper-wrapper .swiper-slide {
    width: 100%;
    height: 595px;

    @media screen and (min-width: 768px) {
        height: 100%;
    }
}

.swiper-wrapper .background-slide {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}